.buttoncontainer {
    height: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.RegisterForm {
    width: 80%;
    height: 90%;
    word-wrap: break-word;
    overflow: hidden;
}

.important {
    padding-top: 1.5rem;
    font-weight: bold;
    font-size: 20px;
}
.button {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button h2 {
    font-weight: bold;
    font-size: 20px;
}
.save {
    color: #ffff;
    background-color: #2f79f0;
    padding-left: 3rem;
    padding-right: 3rem;
    letter-spacing: 1rem;
    margin: 0 auto;
}
