.Library {
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 5rem;
    border-top: solid 0.1px rgb(197, 197, 197);
}
.headerleft {
    width: 40%;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    font-size: 30px;
    font-weight: bolder;
}
.headerright {
    width: 40%;
    display: flex;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
}
.headerbutton {
    background-color: #2f79f0;
    border-radius: 5px;
    letter-spacing: 0.1rem;
}
.containertitle {
    font-size: 25px;
    margin-left: 2rem;
}
.cardtitle {
    font-weight: bold;
}
.cardcontainer {
    height: 42rem;
    display: flex;
    flex-flow: row wrap;
}
.templatetitle {
    font-size: large;
    font-weight: bold;
}

.card {
    width: 16rem;
    height: 20rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

.templatecontainer {
    display: flex;
    justify-content: space-around;
}
.templatecard {
    width: 35%;
}
.editbutton {
    background-color: #2f79f0;
    letter-spacing: 0.3rem;
    margin-top: 1rem;
}
.deletebutton {
    background-color: rgb(234, 57, 57);
    letter-spacing: 0.3rem;
    margin-top: 1rem;
}
.startbutton {
    background-color: #2f79f0;
    border-radius: 5px;
    letter-spacing: 0.1rem;
}
.setbutton {
    background-color: #2f79f0;
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}
