.Hachisnosu {
    font-family: sans-serif;
    text-align: center;
    width: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 5rem;
}
.headerleft {
    width: 40%;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    font-size: 30px;
}
.headertitle {
    font-size: 40px;
    margin: auto;
    width: 60%;
}
.headerright {
    width: 40%;
    display: flex;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
}
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.grid__item {
    display: inline-block;
    width: 16%;
}
.grid__gutter {
    padding-left: calc((100% / 3) + 20px);
}
.grid__item:nth-child(11n + 1) {
    margin-left: calc((20% - 40px) / 2.6 + 20px);
}
.grid__item:nth-child(11n + 6) .hexagon,
.grid__item:nth-child(11n + 7) .hexagon,
.grid__item:nth-child(11n + 8) .hexagon,
.grid__item:nth-child(11n + 9) .hexagon,
.grid__item:nth-child(11n + 10) .hexagon {
    margin-top: calc(10px - 49.8012701892%);
}
.grid__item:nth-child(n + 11) .hexagon {
    margin-top: calc(10px - 49.3012701892%);
}
.hexagon {
    position: relative;
    width: 100%;
    overflow: hidden;
    clip-path: polygon(
        20%0.8%,
        80% 1.4%,
        100.5% 50%,
        75% 99.5%,
        23% 99.5%,
        0% 50%
    );
}
.hexagon::before {
    display: block;
    padding-top: 86.602540378%;
    content: "";
}
.hexagon__inner_1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: rotate(60deg);
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}
.hexagon__inner_2 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: rotate(60deg);
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}
.hexagon__inner_3 {
    width: 100%;
    height: 100%;
    transform: rotate(-120deg);
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}
.hexagon__inner_image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.finishbutton {
    background-color: #2f79f0;
    border-radius: 5px;
    letter-spacing: 0.1rem;
}
